@use "root";
@use "reset";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
	background-color: var(--very-dark-blue);
	display: flex;
	align-items: center;
	font-family: "Inter", sans-serif;
	justify-content: center;
	font-size: 15px;
}

/* mobile */
.card {
	background-color: var(--dark-desaturated-blue);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	margin: 3rem auto;
	overflow: hidden;
	width: min(90rem, 100% - 3rem);
}

.card-img {
	position: relative;

	&::after {
		content: "";
		background-color: hsla(277, 84%, 71%, 1);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		mix-blend-mode: multiply;
	}
}

img {
	height: 100%;
	width: 100%;
}

.card-content {
	display: flex;
	flex-direction: column;
	padding: 2.5rem 2rem;
	text-align: center;
}

.card-title {
	color: var(--white);
	font-family: "Inter", sans-serif;
	font-size: clamp(1.75rem, 1.5739rem + 0.7512vw, 2.25rem);
	font-weight: 700;
	line-height: 1.2;

	span {
		color: var(--soft-violet);
	}
}

.card-text {
	color: var(--slightly-transparent-white-75);
	font-family: "Inter", sans-serif;
	font-weight: 400;
	margin-top: 1rem;
	line-height: 1.6;
}

.statistics {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1.5em;
}

.statistic {
	h2 {
		color: var(--white);
		font-family: "Inter", sans-serif;
		font-size: 1.5rem;
	}

	span {
		color: var(--slightly-transparent-white-60);
		font-family: "Lexend Deca", sans-serif;
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 0.063rem;
	}
}

.attribution {
	align-items: center;
	color: var(--slightly-transparent-white-75);
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	gap: 1rem;
	justify-content: center;
	margin-bottom: 2rem;

	a {
		color: var(--soft-violet);
		transition: color 0.3s ease-in;
		&:hover {
			color: hsl(277 64% 71%);
			text-decoration: none;
		}
	}
}

/* desktop */
@media (min-width: 48em) {
	.card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-height: 459px;
		max-width: 1115px;
	}

	.card-img {
		order: 2;
	}

	.card-content {
		gap: 1rem;
		padding: 4rem 5rem;
		text-align: left;
	}

	.statistics {
		flex-direction: row;
		margin-top: 3rem;
	}

	.attribution {
		flex-direction: row;
		gap: 0.5rem;
	}
}

/* utilities */
.text-uppercase {
	text-transform: uppercase;
}
